${common}

main();
function main() {
    log("main");
    const chk = LSCHK("TZ_LOGIN_MAIN", 10);
    if(!chk) return;

    logParam.sub_type = "login";
    message: "start login";
    TZLOG(logParam, (data) => {}); 
    ${loginScript}
}