javascript:(() => {
    ${common}
    const param = {
        type: "command", 
        sub_type: "login",
        device_id: "${deviceId}",
        device_token: "${deviceToken}",
        golf_club_id: "${golf_club_id}",
        message: "start login",
        parameter: JSON.stringify({}),
    };
    TZLOG(param, (data) => {
        log(data);
        ${loginScript}
    });
    
})();